* {
  padding: 0;
  margin: 0; }

ul {
  display: flex;
  flex-direction: row;
  position: relative; }
  ul li {
    list-style: none;
    padding: 5px;
    position: relative; }
    ul li a {
      color: #0c0c0c;
      text-decoration: none;
      text-transform: uppercase; }

.nav-bar {
  display: flex;
  background-color: transparent;
  flex-direction: row;
  align-items: center; }

.navbar {
  background-color: rgba(190, 190, 190, 0.438);
  font-family: 'Fredericka the Great', cursive;
  display: flex;
  align-content: space-between; }

.sub_menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px; }

.sub_menu {
  background-color: transparent;
  font-family: 'Fredericka the Great', cursive;
  justify-items: center; }

.boton1 {
  position: relative;
  display: block;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font-size: 28px;
  width: fit-content;
  z-index: 0;
  transition: all 450ms ease;
  border-radius: 10px;
  margin: 2px;
  text-shadow: 5px 5px 5px rgba(223, 32, 32, 0.438); }
  .boton1::after, .boton1::before {
    content: '';
    display: block;
    position: absolute;
    transition: width 540ms, opacity 300ms ease; }

.boton1 {
  height: 56px;
  width: 164px;
  display: grid;
  place-items: center; }
  .boton1-b-tr, .boton1-b-bl {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
    .boton1-b-tr::before, .boton1-b-tr::after, .boton1-b-bl::before, .boton1-b-bl::after {
      content: '';
      position: absolute;
      background-color: #fd1c14;
      transition: all 400ms ease-in-out; }

@keyframes width {
  0% {
    width: 0; }
  50% {
    width: 100%; }
  100% {
    width: 70%; } }

.menu_footer {
  display: flex;
  font-family: 'Fredericka the Great', cursive;
  color: #eedada;
  background-color: transparent; }

.logo01 {
  padding-top: 10px;
  margin: 1px;
  overflow: hidden; }

.logo02 {
  display: flex;
  padding-top: 10px;
  height: 50px;
  overflow: hidden;
  backdrop-filter: opacity(50%); }

.iconos {
  height: 25px; }

.boton2 {
  transform: translate(20px 50px); }
  .boton2::after, .boton2::before {
    content: '';
    display: block;
    position: absolute;
    background-color: #fd1c14;
    transition: all 400ms ease-in-out; }

.boton2 {
  padding: 0 6px; }
  .boton2::before, .boton2::after {
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 0.1em;
    width: 0; }
  .boton2::before {
    left: 0; }
  .boton2::after {
    background-color: #dc3545;
    right: 0; }
  .boton2:hover {
    color: #dc3545; }
    .boton2:hover::before {
      width: 60%;
      transition: width 250ms ease; }
    .boton2:hover::after {
      width: 100%;
      background-color: transparent; }

.boton1::before, .boton1::after {
  height: 0.1em;
  bottom: -1px; }

.boton1::before {
  width: 0; }

.boton1::after {
  width: 100%;
  border-top: 0;
  opacity: 0; }

.boton1:hover {
  color: #fd7e14; }
  .boton1:hover::before {
    width: 0;
    animation: width 1500ms ease forwards; }
  .boton1:hover::after {
    opacity: 1; }

@keyframes width {
  0% {
    width: 0; }
  50% {
    width: 100%; }
  100% {
    width: 70%; } }

@keyframes opacity {
  20% {
    opacity: 0; }
  from {
    left: 0px; }
  to {
    left: 200px; } }

.logo01 {
  border: 1px solid #0e0d0d;
  border: radius 90%;
  align-items: baseline;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px; }

img:hover {
  box-shadow: 2px 1px rgba(0, 140, 186, 0.5); }

@media only screen and (max-width: 450px) {
  header .dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1; } }

.titulo1 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: baseline;
  font-size: width 100vh;
  font-family: 'Fredericka the Great', cursive;
  text-align: center;
  background-color: #050505;
  color: #f5e9e9; }

.menu {
  background-color: transparent; }

.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #b8c1ec;
  height: 100vh;
  background-color: black;
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding: 10px;
  color: #b8c1ec;
  padding: 10px;
  font-size: 18px;
  height: 100%;
  padding: 10px; }

.izquierda {
  background-color: black;
  background-position: center;
  background-size: cover;
  color: #b8c1ec;
  padding: 10px;
  font-size: 18px;
  position: relative;
  padding: 10px; }

.imagen_derecha {
  display: grid;
  max-width: 100%; }

.derecha {
  background-size: cover;
  color: #050e38;
  font-size: 18px; }
