.logo01 {
    
    padding-top: 10px;
    margin: 1px;
    
    overflow: hidden;
    
    
}
.logo02 {display: flex;
    padding-top: 10px;
    height: 50px;
    overflow: hidden;  
    backdrop-filter:  opacity(50%);
}
.iconos{
    height: 25px;
}
