$rojo: #fd1c14;

ul {
    display: flex;
    flex-direction: row;
    position: relative;
    li {
        list-style: none;
        padding: 5px;
        position: relative;
        a{color: rgb(12, 12, 12);
            text-decoration: none;
            text-transform: uppercase;
        }
        
    } 

}

.nav-bar{
    display: flex;
    background-color:#0e0d0d69;
    flex-direction: row;
    align-items: center;

}
.navbar{
    background-color:#0e0d0d69;
    font-family: 'Fredericka the Great', cursive;
    display: flex;
    align-content: space-between;
}

.sub_menu{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    text-align: center;
    background-color:#0e0d0d69;


}
.sub_menu{
    background-color:rgba(0, 0, 0, 0.336);
    font-family: 'Fredericka the Great', cursive;
}


.link{
    position: relative;
    display: block;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-size: 28px;
    width: fit-content;
    z-index: 0;
    transition: all 450ms ease;
    border-radius: 10px;
    margin: 2px;
    text-shadow: 5px 5px 5px rgba(223, 32, 32, 0.438);

    &::after,
    &::before{
        content: '';
        display: block;
        position: absolute;
        transition: width 540ms, opacity 300ms ease;
    }
}

.link2{
    height: 56px;
    width: 164px;
    display: grid;
    place-items: center;

    &-b-tr,
    &-b-bl{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        &::before,
        &::after{
            content: '';
            position: absolute;
            background-color: $rojo;
            transition: all 400ms ease-in-out;
        }
    }

    &-b-tr::before{
        right: 0;
        bottom: 0;
        width: 0;
        height: 1px;
    }

    &-b-tr::after{
        right: 0;
        top: 0;
        height: 0;
        width: 1px;
    }

    &-b-bl::before{
        left: 0;
        top: 0;
        width: 0;
        height: 1px;
    }

    &-b-bl::after{
        left: 0;
        bottom: 0;
        height: 0;
        width: 1px;
    }

    &:hover{
        color: $rojo;

        .link-b-tr::before,
        .link-b-bl::before{
            width: 100%;
        }

        .link-b-tr::after,
        .link-b-bl::after{
            height: 100%;
        }
    }
}
@keyframes width{
    0%{
        width: 0;
    }

    50%{
        width: 100%;
    }

    100%{
        width: 70%;
    }
}

.menu_footer{display: flex;
    
    
    font-family: 'Fredericka the Great', cursive;

    
    color: rgb(238, 218, 218);
    background-color:transparent

}