*{padding: 0;
margin: 0;

}
@import "menu01";
@import "logos";
@import "hover-top-bottom";

$colorbg: rgb(0, 0, 0);


// @media only screen and (max-width: 450px) {
//     header {
//     .dropdown_content{  display: none;
//         position: absolute;
//         background-color: #f9f9f9;
//         min-width: 160px;
//         box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//         padding: 12px 16px;
//         z-index: 1;

//     }
//     }
//   }


.titulo1{display: flex;
    
    position: relative;
    justify-content:center;
    align-content: center;
    font-size: 70px;
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    background-color:#0e0d0d69;
    color: rgb(2, 2, 2);
    background-color:transparent

}

.menu{
    background-color:transparent;
}
$carousel-caption-width: 100%;

.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    color: #b8c1ec;
    height: 100vh;


    background-color: black;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 10px;
    color: #b8c1ec;
    padding: 10px;
    font-size: 18px;
    height: 100%;
    padding: 10px;
}
.izquierda{
        
        background-color: black;
        background-position: center;
        background-size: cover;
        color: #b8c1ec;
        padding: 10px;
        font-size: 18px;
        position: relative;
        padding: 10px;
    
}
.imagen_derecha{display:grid;
                max-width: 100%;

}
.derecha{
    
    
    background-size: cover;
    color: #050e38;
    font-size: 18px;
    
    
    
}
